body{
    background-color: rgb(15, 15, 16);
    color: rgb(241, 231, 231);
    overflow: hidden;
    }
    .container{
        font-size: 22px;
        height: 40vw;
        width: 25%;
    }
    .icon-container{
        background-color: #273037;
        width: 20vw;
    }
    .icon{
        margin-left:0.5vw;
        margin-top: 0.5vw;
        height: 3vw;
        width: 2.5vw;
    }
    
    .infocontainer{
        width: 20vw;
        height: 23vw;
        background-color: #273037;
        border-radius: 0.5vw;
    }
    .img{
        height: 4vw;
        width: 6vw;
        border: 0.3vw solid white;
    }
    .areaField{
        padding-left: 2vw;
        display: flex;
        flex-direction: row;
        padding-top: 2vw;
        height: 6vw;
        width: 18vw;
        background-color: #273037;
        
    }
    .infos{
        padding-left: 0.5vw;
        display: flex;
        flex-direction: column;
        height: 19vh;
        background-color: #273037;
        justify-content: space-between;
    }
    .title{
        font-size: 24px;
        padding-bottom: 10px; 
        font-weight: 500;
    }
    .value{
        /* border: 2px solid black; */
        background-color: #1a242c;
        padding: 7px;
  
    }
    .moredetails{
        height: 8vw;
        
    }
    .field{
        padding-bottom: 14px;
    width: 14vw;
    background-color: #273037;
    }
    .updateInfo{
        border-radius: 0.5vw;
        background-color:#273037;
        margin-top: 10vh;
        width: 18vw;
        
        padding-left: 1vw;
        display: flex;
        flex-direction:  column;
        justify-content: center;
        align-items: center;
        padding-top: 0.5vw;
    }
    .moreinfo{
        height: 9vw;
        background-color:  #273037;

    }
    .info-btn{
        color: azure;
        margin: 0 1vw;
        width: 90%;
        height: 2.5vw;
        background-color: #2984FF;
        cursor: pointer;
        border-radius: 0.3vw;
        font-size: 18px;  
    }
    
    .info-btn:hover{
        background-color: #1a72e4;
        font-weight: bolder;
    }
    .textinput{
        background-color: azure;
        margin-top: 1vw;
        width: 14vw;
        margin-bottom: 1vw;
        color: #273037;
    }
    .dateinput{
        text-align: center;
        background-color: azure;
        height: 2vw;
        font-size: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 100%;
        color: #273037;
        
    }
    .update-btn{
        font-size: 18px;  
        color: azure;
        width: 100%;
    height: 2.5vw;
    margin-top: 2vh;
    background-color: #2984FF;
    cursor: pointer;
    border-radius: 0.3vw;
    }
    .update-btn:hover{
        background-color: #1a72e4;
        font-weight: bolder;
    }
    .logo{
        height: 4vw;
        width: 4vw;
    }
    .logo-container{
        display: flex;
        flex-direction: row;
        background-color: #212930;
    }
    .out-icon{
        margin-left: 12vw;
    }
    .icon-left{
        height: 5vw;
        width: 4vw;
    }