body{
    background-color: rgb(15, 15, 16);
    color: rgb(241, 231, 231);
    overflow: hidden;
    }
    .container{
        font-size: 22px;
        height: 100vh;
        width: 25%;
    }
    .icon-container{
        background-color: #273037;
        width: 20vw;
    }
    .icon{
        margin-left:1vh;
        margin-top: 1vh;
        height: 6vh;
        width: 2.5vw;
    }
    
    .infocontainer{
        width: 20vw;
        height: 46vh;
        background-color: #273037;
        border-radius: 1vh;
    }
    .img{
        height: 8vh;
        width: 6vw;
        border: 0.6vh solid white;
    }
    .areaField{
        padding-left: 4vh;
        display: flex;
        flex-direction: row;
        padding-top: 4vh;
        height: 12vh;
        width: 18vw;
        background-color: #273037;
        
    }
    .infos{
        padding-left: 1vh;
        display: flex;
        flex-direction: column;
        height: 19vh;
        background-color: #273037;
        justify-content: space-between;
    }
    .title{
        font-size: 24px;
        padding-bottom: 10px; 
        font-weight: 500;
    }
    .value{
        /* border: 2px solid black; */
        background-color: #1a242c;
        padding: 7px;
  
    }
    .moredetails{
        height: 16vh;
    }
    .field{
        padding-bottom: 14px;
    width: 14vw;
    background-color: #273037;
    }
    .updateInfo{
        border-radius: 1vh;
        background-color:#273037;
        margin-top: 6vh;
        width: 18vw;
        padding-left: 2vh;
        display: flex;
        flex-direction:  column;
        justify-content: center;
        align-items: center;
        padding-top: 2vh;
    }
    .Satellite-select{
        text-align: center;
        background-color: azure;
        height: 4vh;
        font-size: 2vh;
        width: 100%;
        margin-bottom: 7vh;
        border-radius: 0;
    }
    .select-options{
        background-color: #1a242c;
        color: aliceblue;
        font-size: 2vh;
        padding-top: 2vh;
    }
    .moreinfo{
        height: 18vh;
        background-color:  #273037;
    }
    .info-btn{
        color: azure;
        margin: 0 2vh;
        width: 90%;
        height: 5vh;
        background-color: #2984FF;
        cursor: pointer;
        border-radius: 0.6vh;
        font-size: 18px;  
    }
    
    .info-btn:hover{
        background-color: #1a72e4;
        font-weight: bolder;
    }
    .textinput{
        background-color: azure;
        margin-top: 2vh;
        width: 14vw;
        margin-bottom: 2vh;
        color: #273037;
    }
    .dateinput{
        text-align: center;
        background-color: azure;
        height: 4vh;
        font-size: 2vh;
        margin-top: 0.8vh;
        margin-bottom: 2vh;
        width: 100%;
        color: #273037;
    }
    .update-btn{
        font-size: 18px;  
        color: azure;
        width: 100%;
    height: 5vh;
    margin-top: 2vh;
    background-color: #2984FF;
    cursor: pointer;
    border-radius: 0.6vh;
    }
    .update-btn:hover{
        background-color: #1a72e4;
        font-weight: bolder;
    }
    .logo{
        height: 8vh;
        width: 4vw;
    }
    .logo-container{
        display: flex;
        flex-direction: row;
        background-color: #212930;
    }
    .out-icon{
        margin-left: 24vh;
    }
    .icon-left{
        height: 10vh;
        width: 4vw;
    }
    .copyright img{
        margin-top: 13.8vh;
       width: 19vw;
      }