body{
background-color: rgb(15, 15, 16);
color: rgb(241, 231, 231);

}
.container{
    height: 40vw;
    width: 25%;
}
.icon-container{
    background-color: #273037;
    width: 20vw;
}
.icon{
    margin-left:0.5vw;
    margin-top: 0.5vw;
    height: 3vw;
    width: 2.5vw;
}

.infocontainer{
    width: 20vw;
    height: 23vw;
    background-color: #273037;
    border-radius: 0.5vw;
}
.img{
    height: 4vw;
    width: 6vw;
    border: 0.3vw solid white;
}
.areaField{
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    padding-top: 2vw;
    height: 6vw;
    width: 18vw;
    background-color: #273037;
    
}
.infos{
    padding-left: 0.5vw;
    display: flex;
    flex-direction: column;
    height: 6vw;
    background-color: #273037;
    justify-content: space-between;
}
.moredetails{
    height: 8vw;
}
.field{
width: 14vw;
background-color: #273037;
}
.updateInfo{
    border-radius: 0.5vw;
    background-color:#273037;
    height: 21.3vw;
    width: 18vw;
    
    padding-left: 2vw;
    display: flex;
    flex-direction:  column;
    padding-top: 0.5vw;
}
.moreinfo{
    height: 9vw;
    background-color:  #273037;
}
.info-btn{
    color: azure;
   margin-left: 6vw;
    width: 6vw;
    height: 2.5vw;
    background-color: #2984FF;
    cursor: pointer;
    border-radius: 0.3vw;
    border-radius: 0.5vw;
}
.info-btn:hover{
    background-color: #1a72e4;
    font-weight: bolder;
}
.textinput{
    background-color: azure;
margin-top: 1vw;
    width: 14vw;
    margin-bottom: 1vw;
    color: #273037;
}
.dateinput{
    background-color: azure;
    height: 2vw;
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 8vw;
    color: #273037;
}
.update-btn{
    color: azure;
width: 5vw;
height: 2.5vw;
background-color: #2984FF;
cursor: pointer;
border-radius: 0.3vw;
}
.update-btn:hover{
    background-color: #1a72e4;
    font-weight: bolder;
}
.logo{
    height: 4vw;
    width: 4vw;
}
.logo-container{
    display: flex;
    flex-direction: row;
    background-color: #212930;
}
.out-icon{
    margin-left: 12vw;
}
.icon-left{
    height: 5vw;
    width: 4vw;
}